

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14 px;
  font weight:300,400,700
  line-height: 1.6;
}


h1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  font-style: black;
  color: #000;
}

h2 {

  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000;

}
h3  {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000;

}

a {
  color: #0EC833;
}

a:visited {
  /* visited link */
  color: #104E05;
}

a:hover,
a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #F6EF0A;
}

.button {
  background: #000000;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: none; /* width of the border, type, color */
  display: inline-block;
}
.button:hover, .button:focus {
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}
